@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
  
  background-color: #111111;
  color: #ffffff;


}

h1 {
  font-size: 24px;
  font-weight: 400;
  font-size:  30vmin;
}

section {
  display:  flex;
  flex-direction:  column;
  align-items:  center;
  justify-content:  center;
  height:  100vh;
}

nav {
  position: fixed;
  top:  30px;
  right:  30px;
}

nav a {
  color:  #999999;
  text-decoration:  none;
}

nav a.selected {
  color: #ffffff;
}

